body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background: #cccccc;
  font-size: 18px;
  line-height: 24px; }

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eeeeee;
  border-radius: 6px;
  padding: 60px; }

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px; }

#main-container {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 20px black; }

#header {
  bottom: auto;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #363b3f;
  -webkit-box-shadow: inset 0 3px 10px #373737;
  -moz-box-shadow: inset 0 3px 10px #373737;
  box-shadow: inset 0 3px 10px #373737;
  border-bottom: 1px solid #1a1f24;
  width: 100%;
  height: 50px; }
  #header h1 {
    color: #e4e4e4;
    font-weight: bold;
    padding-top: 15px;
    margin-left: 50px;
    font-size: 30px; }

#content {
  position: absolute;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  width: 100%;
  height: 90%;
  float: left;
  margin: 50px auto;
  background: #e4e4e4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset; }
  #content .content-kiri {
    width: 20%;
    float: left; }
  #content .content-kanan-atas {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    width: 79%;
    position: relative; }
  #content .content-kanan-bawah {
    margin-top: 10px;
    margin-right: 5px;
    float: right;
    width: 79%;
    position: relative; }

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  clear: both;
  width: 100%;
  height: 20px;
  background: #1b1d1f;
  -webkit-box-shadow: inset 0 3px 10px #373737;
  -moz-box-shadow: inset 0 3px 10px #373737;
  box-shadow: inset 0 3px 10px #373737;
  border-bottom: 1px solid #1a1f24; }
