#menuContainer
    //border: 1px solid green
    width: 20%
    height: 100%
    position: fixed
    .contentToggle
        width: 2.5%
        height: 100%
        //border: 1px solid yellow
        float: right
        background: #1a1f24
        background: radial-gradient(top, #3f4449 0%, #1a1f24 80%)
        background: -moz-radial-gradient(top, #3f4449 0%, #1a1f24 80%)
        background: -webkit-radial-gradient(top, #3f4449 0%, #1a1f24 80%)
        img
            &.toggle
                //border: 1px solid yellow
                width: 7px
                &:hover
                    cursor: pointer

.menuSlide
    //border: 1px solid red
    float: left
    position: relative
    display: inline-block
    box-sizing: border-box
    width: 97.5%
    height: 100%
    overflow: hidden
    background: #e4e4e4

    > .header
        //border: 1px solid red
        height: 60px
        box-sizing: border-box
        padding: 4px 4px 0px 0px
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset
        list-style: none
        color: #3f4449
        font-weight: bold
        span
            //border: 1px solid yellow
            display: inline-block
            position: absolute
            vertical-align: top
            font-size: 20px
            margin: 13px 55px
            font-weight: bold
        img
            &.back
                //border: 1px solid red
                padding: 10px 20px
                &:hover
                    cursor: pointer
    > .footer
        display: block
        position: relative

    > .indicator
        height: 14px
        background: #e4e4e4
        bottom: 0px
        .item
            display: inline-block
            margin-right: 4px
            height: 8px
            width: 8px

    > .view
        position: relative
        box-sizing: border-box
        margin-left: 0px
        //background: #1a1f24
        //background: radial-gradient(top, #3f4449 0%, #1a1f24 80%)
        //background: -moz-radial-gradient(top, #3f4449 0%, #1a1f24 80%)
        //background: -webkit-radial-gradient(top, #3f4449 0%, #1a1f24 80%)

        .slider
            display: inline-block
            position: relative
            background: transparent
            box-sizing: border-box

            ul
                display: inline-block
                position: absolute
                margin: 0px 0px 0px 0px
                padding: 0px 0px 0px 0px
                list-style: none

                li
                    margin: 0px
                    padding: 0px
                    display: block

                    a
                        display: block
                        padding: 6px 6px 6px 6px
                        text-decoration: none
                        text-align: left
                        //background: #1a1f24
                        //background: radial-gradient(top, #3f4449 0%, #1a1f24 80%)
                        //background: -moz-radial-gradient(top, #3f4449 0%, #1a1f24 80%)
                        //background: -webkit-radial-gradient(top, #3f4449 0%, #1a1f24 80%)
                        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset
                        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset
                        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset
                        list-style: none
                        color: rgba(0, 0, 0, 0.7)
                        font-weight: bold

                        &:hover
                            background: #1387fc
                            background: radial-gradient(top, #005dba 0%, #0065cb 100%)
                            background: -moz-radial-gradient(top, #005dba 0%, #0065cb 100%)
                            background: -webkit-radial-gradient(top, #005dba 0%, #0065cb 100%)
                            //background: #ca3838
                            //background: radial-gradient(top, #ca3838 0%, #ba2525 100%)
                            //background: -moz-radial-gradient(top, #ca3838 0%, #ba2525 100%)
                            //background: -webkit-radial-gradient(top, #ca3838 0%, #ba2525 100%)
                            color: #f0f0f0
                            font-weight: bold
                            > img.glyph
                                background: #e4e4e4
                            > img.submenu
                                background: url('../images/menu/arrow-right2.png') no-repeat
                                float: right
                                margin-top: 13px
                                margin-right: 7px

                        span
                            margin-left: 8px
                            display: inline-block
                            vertical-align: top
                            font-size: 14px
                            padding-top: 10px

                        img
                            display: inline-block

                            &.glyph
                                margin: 5px 5px
                                margin-bottom: 0px
                                padding: 7px
                                background: #3f4449
                                border-radius: 4px

                            &.submenu
                                float: right
                                margin-right: 7px
                                margin-top: 13px
                                padding: 10px
                                background: url('../images/menu/arrow-right.png') no-repeat