.menuContainer .header {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 40px; }
.menuContainer .view ul {
  background: #1a1f24;
  background: radial-gradient(top, #3f4449 0%, #1a1f24 80%);
  background: -moz-radial-gradient(top, #3f4449 0%, #1a1f24 80%);
  background: -webkit-radial-gradient(top, #3f4449 0%, #1a1f24 80%);
  padding: 0px;
  list-style: none; }
  .menuContainer .view ul li {
    padding: 0px 0px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: block; }
    .menuContainer .view ul li a {
      display: block;
      padding: 6px 6px 6px 6px;
      text-decoration: none;
      text-align: left;
      border-bottom: 1px solid #6a6a6a;
      background: #cccccc;
      color: black;
      border-left: 3px solid #012142; }
      .menuContainer .view ul li a:hover {
        background: #1387fc;
        background: radial-gradient(top, #5daeff 0%, #0065cb 100%);
        background: -moz-radial-gradient(top, #5daeff 0%, #0065cb 100%);
        background: -webkit-radial-gradient(top, #5daeff 0%, #0065cb 100%);
        color: #383838;
        font-weight: bold; }
      .menuContainer .view ul li a span {
        margin-left: 12px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px; }
      .menuContainer .view ul li a img {
        display: inline-block; }
        .menuContainer .view ul li a img.glyph {
          margin-top: px; }
        .menuContainer .view ul li a img.submenu {
          float: right; }
